body {
  display: flex; /*container? item? */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #851e52;
}

h1 {
  font-weight: lighter;
  font-family: sans-serif;
  color: #d3560e;
  font-size: 50px;
  letter-spacing: 4px;
  margin-bottom: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.inputSection {
  margin: 50px 0px 20px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.placeholder {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  color: orange;
}

button {
  background-color: orange;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.addButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
